<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Chocolateria</title>
</head>
<body>

<div align = "center">
     <h1>Explore our fine chocolates</h1>
     <table>
         <thead>
            <tr>
               <th> Chocolate name </th>
               <th> chocolate image </th>
               <th> Chocolate description </th>
               <th> Chocolate price </th>
            </tr> 
         </thead>
         <tbody>
         <tr th:each = "product:${listProducts}">
                 <td th:text ="${product.name}"></td>
                 <td th:text ="${product.imageFileName}"></td>
                 <td th:text ="${product.description}"></td>
                 <td th:text ="${product.price}"></td>
         </tr>        
     </table>
</div>

</body>
</html>